.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 55px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 23px;
  margin: 15px 0;
  color: hsl(218, 44%, 22%);
}

p {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 0 10px;
  font-style: bold;
}

img {
  max-width: 100%;
  width: 450px;
  border-radius: 11px;
  margin: auto;
}

.qr-card-content {
  box-shadow: rgb(37 39 89 / 8%) 0px 10px 9px 0;
  background-image: transparent !important;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  color: black;
  width: 23%;
  padding: 20px;
  margin: 50px auto;
}
